@charset "utf-8";


/* 공통 */
/* new_table : 테이블 padding 값 수정 */
/* new_sel_span : 라운드형태의 select 버튼 수정 */
/* new_popup : 공통으로 사용할 팝업 레이아웃 */
.allcare * {letter-spacing: -0.02em}
.allcare .sr_only {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); white-space: nowrap; border: 0; font-size: 0;}
.allcare .btn_s_r {font-weight: 400 !important;}
.allcare .box_table_wrap:not(.r_type01,.r_type02) .box_table.new_table th {font-size: 16px; font-weight: 600; line-height: 28px; color: #333;}
.allcare .box_table_wrap:not(.r_type01,.r_type02) .box_table.new_table td {font-size: 16px; font-weight: 400; line-height: 28px; color: #333;}
.allcare .new_table tr th {padding: 12px 10px;}
.allcare .new_table tr td {padding: 14px 10px;}
.allcare .new_table tr th:first-child, .allcare .new_table tr td:first-child {padding-left: 20px;}
.allcare .new_table tr th:last-child, .allcare .new_table tr td:last-child {padding-right: 20px;}
.allcare .new_table colgroup col {min-width: 70px;}
.allcare .new_table tr td .btnType_b1 {width: 64px; height: 32px; font-size: 14px; font-weight: 600; line-height: 24px; border-radius: 4px; color: var(--col_blue); border: 1px solid var(--col_blue);}
.allcare .sel.round.new_sel_span {position: relative;}
.allcare .sel.round.new_sel_span select {max-width: 150px; padding: 6px 40px 6px 16px; border-radius: 9999px; font-size: 16px; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.allcare .sel.round.new_sel_span::after {content: ''; width: 16px; height: 16px; position: absolute; top: 50%; right: 12px; transform: translateY(-50%); background: url('../include/images/arrow16_down.svg') no-repeat center / contain;}
.allcare .new_popup {padding: 32px 17px 40px 40px; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: #fff; width: 1040px; height: calc(100% - 200px); max-height: 680px; z-index: 9999;}
.allcare .new_popup .newpop_inner {height: calc(100% - 90px); overflow-y: auto; padding-right: 18px;}
.allcare .new_popup .newpop_inner .search_table tbody tr td {border-bottom: 1px solid #eee;}
.allcare .new_popup .newpop_inner .search_table th,
.allcare .new_popup .newpop_inner .search_table td {padding-top: 12px !important; padding-bottom: 12px !important;}
.allcare .new_popup .newpop_inner::-webkit-scrollbar {width: 6px;}
.allcare .new_popup .newpop_inner::-webkit-scrollbar-thumb {background-color: #ddd; border-radius: 9999px;}
.allcare .new_popup .newpop_tit {padding-bottom: 24px; margin: 0 17px 24px 0; border-bottom: 1px solid #eee; display: flex; justify-content: space-between; align-items: center;}
.allcare .new_popup .newpop_tit h4 {font-size: 28px; color: #111; font-weight: 600; line-height: 40px;}
.allcare .new_popup .newpop_tit .closed {display: block; position: absolute; right: 40px; top: 36px; height: 32px; width: 32px; background: url('../include/images/ico32_close.svg') no-repeat 0 0; z-index: 999;}
.allcare .new_popup fieldset, .uni_prog_tool fieldset {border: none;} 
.allcare .new_ipt button[class*='ico']{right: 12px;}
.allcare .new_ipt .input_txt {padding-left: 12px;} 
.allcare [class^='btn'].medium.newbtn_w60 {padding: 0 12px; min-width: 60px;}
.allcare [class^='btn'].medium.newbtn_w88 {padding: 0 16px; min-width: 88px;}
.allcare .new_radio_item {display: flex; justify-content: center; align-items: center; position: relative;}
.allcare .new_radio_item + .new_radio_item {margin-left: 16px;}
.allcare .new_radio_item input[type="radio"] {position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0 0 0 0); clip-path: inset(100%); border: 0;}
.allcare .new_radio_item label {height: auto; display: flex; align-items: center; cursor: pointer;}
.allcare .new_radio_item label .radio_ui {display: block; margin: 0; width: 22px; height: 22px; border: 1px solid #757575; border-radius: 50%; position: relative;}
.allcare .new_radio_item input[type="radio"]:checked + label .radio_ui::after {content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 22px; height: 22px; border: 5px solid var(--col_blue); border-radius: 50%;}
.allcare .new_radio_item label .label_text {margin-left: 5px; font-size: 16px; font-weight: 400; color: #333; line-height: 22px; }
.allcare input[type="checkbox"].new_chkbox {position: relative; width: 20px; height: 20px; border: 1px solid #757575; border-radius: 4px;}
.allcare input[type="checkbox"].new_chkbox:checked::before {content: ''; position: absolute; width: 20px; height: 20px; border: 1px solid var(--col_blue); border-radius: 4px; background-color: var(--col_blue);} 
.support .youth.allcare input[type="checkbox"].new_chkbox:checked::after {content: ''; position: absolute; width: 12px; height: 12px; left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('../images/support/ico10_chk.svg') no-repeat center / contain;} 
.mypage .progmg.allcare.allcare input[type="checkbox"].new_chkbox:checked::after {content: ''; position: absolute; width: 12px; height: 12px; left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('../images/mypage/ico10_chk.svg') no-repeat center / contain;} 



/* 운영대학 목록 (UI_ADHPAaM01) */
.support .youth.allcare .gsprog_uni>div+div {margin-top: 40px;}
.support .youth.allcare .gsprog_uni .step_cont_area {padding: 24px 20px; border: 1px solid #ddd; border-radius: 8px;}
.support .youth.allcare .gsprog_uni .step_cont_area ol {margin-top: 10px; display: flex; justify-content: space-between; align-items: stretch; gap: 24px;}
.support .youth.allcare .gsprog_uni .step_cont_area ol>li {position: relative; width: 100%; padding: 24px; border: 1px solid #ddd; border-radius: 8px; text-align: center;}
.support .youth.allcare .gsprog_uni .step_cont_area ol>li+li::before {content: ''; width: 24px; height: 24px; position: absolute; left: -24px; top: 50%; transform: translateY(-50%); background: url('../include/images/ico24_arrow2_right.svg') no-repeat center / contain;} 
.support .youth.allcare .gsprog_uni .step_cont_area ol>li p:first-child {border-bottom: 1px solid #ddd; padding-bottom: 16px; margin-bottom: 16px; color: #333;}
.support .youth.allcare .gsprog_uni .step_cont_area ol>li p:first-child span {color: var(--col_blue);}
.support .youth.allcare .gsprog_uni .step_cont_area ol>li p:last-child {color: #555;}
.support .youth.allcare .gsprog_uni .step_btn_box {margin-top: 24px; display: flex; justify-content: space-between; align-items: center;}
.support .youth.allcare .gsprog_uni .step_btn_box p {padding-left: 16px; position: relative; color: #333;}
.support .youth.allcare .gsprog_uni .step_btn_box p::before {content: ''; width: 4px; height: 4px; position: absolute; left: 4px; top: 50%; transform: translateY(-50%); background-color: #555; border-radius: 50%;}
.support .youth.allcare .gsprog_uni .uniporg_cont article {margin-bottom: 40px;}
.support .youth.allcare .gsprog_uni .uniporg_cont fieldset {border: none;}
.support .youth.allcare .gsprog_uni .new_table tbody tr td:nth-child(3) {word-break: keep-all;}
.support .youth.allcare .gsprog_uni tr+tr {border-top: 1px solid #eee;}
.support .youth.allcare .gsprog_uni .statusDesc_cont {padding: 16px 24px; border: 1px solid #ddd; border-radius: 8px; display: flex; justify-content: space-between; align-items: center;}
.support .youth.allcare .gsprog_uni .statusDesc_cont p {color: #555;}
.support .youth.allcare .gsprog_uni .statusDesc_cont button {padding: 6px 16px; border-radius: 4px; border: 1px solid #757575; color: #333;}


/* [팝업] 운영대학 목록 - 프로그램 조회 팝업 (UI_ADHPAaM02) */ 
.allcare .uni_prog_tool .search_table .new_th {font-size: 16px; font-weight: 600; color: #333; line-height: 28px; }
.allcare .uni_prog_tool .new_table tr th {padding: 12px 20px;}
.allcare .uni_prog_tool .new_table tr td {padding: 24px 20px;}
.allcare .uni_prog_tool .new_table tr th:first-child, 
.allcare .uni_prog_tool .new_table tr td:first-child {padding-left: 24px;}
.allcare .uni_prog_tool .new_table tr th:last-child, 
.allcare .uni_prog_tool .new_table tr td:last-child {padding-right: 24px;}
.allcare .uni_prog_tool .new_table td {text-align: left;}
.allcare .uni_prog_tool .new_table td span {vertical-align: baseline; font-weight: 600;}
.allcare .uni_prog_tool .new_table td:first-child .prog_uni p {margin: 8px 0; color: #333; font-size: 16px; font-weight: 400; line-height: 28px;}
.allcare .uni_prog_tool .new_table td:first-child .prog_tit p {color: #111;}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc {display: flex; align-items: stretch; gap: 4px;}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_tag span {display: none; padding: 4px 6px; border-radius: 4px; color: #fff; background-color: #19b3bd; border: 1px solid #19b3bd; font-size: 12px; font-weight: 400; line-height: 1; }
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_tag span.on {display: block;}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_tag .tag_cdp {background-color: #e0024b; border: 1px solid #e0024b;}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_tag .tag_lerc {background-color: var(--col_orange); border: 1px solid var(--col_orange);}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_tag .tag_pm {background-color: #9e00ff; border: 1px solid #9e00ff;}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_tag .tag_etc {background-color: #555; border: 1px solid #555;}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_site span {display: none; font-size: 12px; font-weight: 400; line-height: 1;  padding: 4px 6px; border-radius: 4px;} 
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_site span.on {display: block;}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_site .onsite {color: var(--col_blue); border: 1px solid var(--col_blue);}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_site .offsite {color: #333; border: 1px solid #757575;}
.allcare .uni_prog_tool .new_table td:first-child .prog_dsc .prog_year p {color: #333;}
.allcare .uni_prog_tool .new_table td:last-child li {position: relative; padding-left: 24px; color: #333; font-size: 16px; font-weight: 400; line-height: 28px;}
.allcare .uni_prog_tool .new_table td:last-child li+li {margin-top: 4px;}
.allcare .uni_prog_tool .new_table td:last-child li span {color: #333;}
.allcare .uni_prog_tool .new_table td:last-child li::before {content: ''; width: 16px; height: 16px; position: absolute; left: 0; top: 5px; background: url('../include/images/ico16_time.svg') no-repeat center / contain;}
.allcare .uni_prog_tool .new_table td:last-child .oper_year::before {width: 14px; height: 14px; left: 1px; top: 6px; background: url('../include/images/ico16_date.svg') no-repeat center / contain;}
.allcare .uni_prog_tool .new_table td:last-child .oper_count::before {background: url('../include/images/ico16_member_gray.svg') no-repeat center / contain;}
.allcare .uni_prog_tool .new_table .oper_year {font-weight: 600;}
.allcare .uni_prog_tool .new_table .oper_time, 
.allcare .uni_prog_tool .new_table .oper_count {font-weight: 400;}
.allcare .uni_prog_tool tr.new_date .date_select {position: relative; margin-right: 16px; background-color: #fff; border-radius: 4px; border: 1px solid var(--col_button);}
.allcare .uni_prog_tool tr.new_date .date_select select#newDate {padding: 6px 60px 6px 12px; height: 40px; color: #555; appearance: none; -webkit-appearance: none; -moz-appearance: none; font-size: 16px; font-weight: 400; line-height: 28px;}
.allcare .uni_prog_tool tr.new_date .date_select::after {content: ''; width: 16px; height: 16px; position: absolute; top: 50%; right: 14px; transform: translateY(-50%); background: url('../include/images/arrow16_down.svg') no-repeat center / contain;}
.allcare .uni_prog_tool .box_form_content {padding: 24px 40px;}
.allcare .uni_prog_tool .box_chk-group > span {margin-right: 18px;}
.allcare .uni_prog_tool th, .allcare .uni_prog_tool td {padding-top: 12px; padding-bottom: 12px;}
.allcare .uni_prog_tool .search_table td .box_chk-group {min-height: initial;}


/* 참여신청서 - 목록없음 (UI_ADHPAbM01) */
.mypage .progmg.allcare .pa_page_empty {text-align: center; display: flex; flex-direction: column; align-items: center;}
.mypage .progmg.allcare .pa_page_empty p {color: #111;}
.mypage .progmg.allcare .pa_page_empty .box_btn_wrap {width: 100%; justify-content: space-between;}
.mypage .progmg.allcare .pa_page_empty .box_btn_wrap a.btn {font-weight: 600; }


/* 참여신청서 - 목록있음 (UI_ADHPAbM02) */
.mypage .progmg.allcare .pa_page_empty.pa_page_abm02 .box_btn_wrap {justify-content: flex-end;}


/* 참여신청서 - 등록 (UI_ADHPAbS03) */
.mypage .progmg.allcare .my_ptcp_from .box_table_wrap:not(.r_type01,.r_type02) .box_table th {font-size: 16px; font-weight: 600; line-height: 28px;  color: #333;}
.mypage .progmg.allcare .my_ptcp_from .box_table_wrap:not(.r_type01,.r_type02) .box_table td {font-size: 16px; font-weight: 400; line-height: 28px;  color: #333;}
.mypage .progmg.allcare .my_ptcp_from .btnSearch span {font-weight: 600;}
.mypage .progmg.allcare .my_ptcp_from .req_mark {position: relative; padding-right: 12px; font-size: 16px; font-weight: 600; line-height: 28px;  color: #333;}
.mypage .progmg.allcare .my_ptcp_from .req_mark::after {content: ''; position: absolute; right: 0; top: 25%; transform: translateY(-50%); width: 5px; height: 5px; background-color: #ee2e62; border-radius: 50%;}
.mypage .progmg.allcare .my_ptcp_from .radio_ui {margin: auto 8px auto 0; width: 22px; height: 22px; border: 1px solid #757575; border-radius: 50%; display: inline-block; position: relative;}
.mypage .progmg.allcare .my_ptcp_from .new_radio_item input[type="radio"] {position: absolute; opacity: 0; pointer-events: none;}
.mypage .progmg.allcare .my_ptcp_from .new_radio_item input[type="radio"]:checked + label .radio_ui::after {content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 22px; height: 22px; border: 5px solid var(--col_blue); border-radius: 50%;}
.mypage .progmg.allcare .my_ptcp_from .box_radio_group input[type='radio'] + label {margin-left: 0;}
.mypage .progmg.allcare .my_ptcp_from .ptcp_radiocustom {cursor: pointer;}
.mypage .progmg.allcare .my_ptcp_from .box_table .ptcp_form_uni td .box_table_group {display: flex;}
.mypage .progmg.allcare .my_ptcp_from .box_table .ptcp_form_uni td .box_table_group .btnSearch {margin-left: 8px; margin-bottom: 0;}
.mypage .progmg.allcare .my_ptcp_from .box_table .ptcp_form_type .box_radio_group {border: none;}
.mypage .progmg.allcare .my_ptcp_from .box_table .ptcp_form_type label {cursor: pointer; display: flex; align-items: center; margin-left: 0; font-size: 16px; line-height: 28px; font-weight: 400;  color: #333; vertical-align: baseline;}
.mypage .progmg.allcare .my_ptcp_from .box_table .ptcp_form_type .new_radio_item + .new_radio_item {margin-left: 0; margin-top: 10px;}
.mypage .progmg.allcare .my_ptcp_from .grade_wrap .tr_grade .input_txt {vertical-align: baseline;}
.mypage .progmg.allcare .my_ptcp_from .grade_wrap .tr_major .box_table_group {display: flex; align-items: center;}
.mypage .progmg.allcare .my_ptcp_from .grade_wrap .tr_major .box_table_group .btnSearch {margin-left: 8px;}
.mypage .progmg.allcare .my_ptcp_from .new_selectbox {position: relative; width: 200px; height: 40px; border: 1px solid #757575; border-radius: 4px;}
.mypage .progmg.allcare .my_ptcp_from .new_selectbox select {padding: 6px 28px 6px 16px; width: 100%; height: 100%; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.mypage .progmg.allcare .my_ptcp_from .new_selectbox::after {content: ''; width: 16px; height: 16px; position: absolute; top: 50%; right: 14px; transform: translateY(-50%); background: url('../include/images/arrow16_down.svg') no-repeat center / contain;}
.mypage .progmg.allcare .my_ptcp_from .grade_wrap .tr_gradate #gradDate {max-width: 128px;}
.mypage .progmg.allcare .my_ptcp_from .grade_wrap .tr_gradate input#gradDate {padding: 6px 40px 6px 12px;}
.mypage .progmg.allcare .my_ptcp_from .grade_wrap .tr_gradate .btn_calendar {margin: 0; right: 10px; transform: translateY(-25%);} 
.mypage .progmg.allcare .agm_area {display: flex; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.mypage .progmg.allcare .agm_box {padding: 12px 20px; display: flex; align-items: center; justify-content: space-between; gap: 16px; width: calc(100% - 195px); background-color: #f8f8f8;}
.mypage .progmg.allcare .agm_box .agm_desc p {color: #333; font-size: 16px; font-weight: 600; line-height: 24px;}
.mypage .progmg.allcare .agm_box .agm_desc strong {color: #ee2e62; font-size: 14px; font-weight: 600; line-height: 24px;}
.mypage .progmg.allcare .agm_cho {width: 195px; display: flex; justify-content: center; align-items: center;}
.mypage .progmg.allcare .agm_cho .box_radio_group {border: none; display: flex; align-items: center;}
.mypage .progmg.allcare .agm_cho .box_radio_group .radio_ui {margin-right: 4px;}
.mypage .progmg.allcare .agm_cho fieldset .new_radio_item .ptcp_radiocustom {display: flex; align-items: center;} 
.mypage .progmg.allcare .agm_cho fieldset .new_radio_item + .new_radio_item {margin-left: 16px;}
.mypage .progmg.allcare .box_end_wrap .submit_date_box {display: flex; justify-content: flex-end;}
.mypage .progmg.allcare .box_end_wrap .submit_date_box p {color: #333;}
.mypage .progmg.allcare .box_end_wrap .submit_date_box p time {margin-left: 8px;}
.mypage .progmg.allcare .box_end_wrap .btn_box {display: flex; justify-content: space-between; align-items: center;}


/* 참여신청서 - 조회 (UI_ADHPAbS04) */
.mypage .progmg.allcare .apply_summary_wrap {background-color: #f8f8f8; padding: 32px 40px;}
.mypage .progmg.allcare .apply_summary_header {display: flex; flex-direction: column; justify-content: center; text-align: center;}
.mypage .progmg.allcare .apply_summary_info .apply_summary_tit {position: relative; padding-left: 28px; display: inline-block; font-size: 18px; font-weight: 600; color: #333; line-height: 28px;}
.mypage .progmg.allcare .apply_summary_info .apply_summary_tit::after {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background: url('../images/mypage/ico24_warning.png') no-repeat center / contain; width: 24px; height: 24px;} 
.mypage .progmg.allcare .apply_summary_info .apply_summary_tit span {color: var(--col_blue);}
.mypage .progmg.allcare .apply_summary_action .apply_summary_toggle {position: relative; font-size: 16px; font-weight: 600; color: var(--col_blue); line-height: 28px; padding: 6px 36px 6px 16px; background-color: #fff; border: 1px solid var(--col_blue); border-radius: 4px; }
.mypage .progmg.allcare .apply_summary_action .apply_summary_toggle::after {content: ''; position: absolute; right: 16px; top: 50%; transform: translateY(-50%); background: url('../images/mypage/ico16_toggle_off.svg') no-repeat center / contain; width: 16px; height: 16px;}
.mypage .progmg.allcare .apply_summary_action .apply_summary_toggle.on::after {background-image: url('../images/mypage/ico16_toggle_on.svg');}
.mypage .progmg.allcare .apply_summary_inner {padding: 32px 0 32px 40px; background-color: #fff; border-radius: 8px; border: 1px solid #ddd}
.mypage .progmg.allcare .apply_summary_inner ul {height: 272px; overflow-y: auto; padding-right: 25px; margin-right: 15px;}
.mypage .progmg.allcare .apply_summary_inner ul li + li {margin-top: 8px;}
.mypage .progmg.allcare .apply_summary_inner ul li .apply_summary_status {display: flex; justify-content: space-between;}
.mypage .progmg.allcare .apply_summary_inner ul li p {font-size: 16px; font-weight: 400; line-height: 28px; color: #333;}
.mypage .progmg.allcare .apply_summary_inner ul li p.status_date {color: #555;}
.mypage .progmg.allcare .apply_summary_inner .apply_summary_reason {padding-left: 32px; position: relative; font-size: 16px; font-weight: 400; line-height: 28px; color: #e0024b;}
.mypage .progmg.allcare .apply_summary_inner .apply_summary_reason::before {content: ''; width: 16px; height: 16px; position: absolute; left: 6px; top: 5px; background: url('../images/mypage/ico16_reply.svg') no-repeat center / contain;}
.mypage .progmg.allcare .apply_summary_pv {position: relative; margin-top: 8px; padding-left: 16px;}
.mypage .progmg.allcare .apply_summary_pv::before {content: ''; position: absolute; left: 4px; top: 50%; transform: translateY(-50%); background-color: #555; border-radius: 50%; width: 4px; height: 4px;}
.mypage .progmg.allcare h3.t2_sb.hreq_mark {position: relative; display: inline-block;}
.mypage .progmg.allcare h3.t2_sb.hreq_mark::after {content: ''; position: absolute; right: -12px; top: 40%; transform: translateY(-50%); background-color: #ee2e62; border-radius: 50%; width: 6px; height: 6px;}


/* 참여신청서 - 회수(수정) (UI_ADHPAbS05) */
.mypage .progmg.allcare .my_ptcp_from .box_end_wrap .btn_box .apply_summary_endbtn {display: flex; gap:16px;}


/* [팝업] 운영 대학 검색 팝업 (UI_ADHPAbP06) */
.mypage .progmg.allcare .newpop_uni_search .newpop_inner {height: calc(100% - 186px);}
.mypage .progmg.allcare .newpop_uni_search .newpop_inner .box_form_content {padding: 24px 40px;}
.mypage .progmg.allcare .newpop_uni_search .newpop_inner tr td {cursor: pointer;}
.mypage .progmg.allcare .newpop_uni_search .newpop_inner .new_radio_item {display: flex; justify-content: center; align-items: center; position: relative;}
.mypage .progmg.allcare .newpop_uni_search .newpop_save {display: flex; justify-content: center;}
.mypage .progmg.allcare .newpop_uni_search .newpop_save button + button {margin-left: 16px;}


/* [팝업] 전공찾기팝업 - 조회/선택/등록 (UI_ADHPAbP07) */
.mypage .progmg.allcare .newpop_major_search .newpop_inner {height: calc(100% - 186px);}
.mypage .progmg.allcare .newpop_major_search .newpop_save {display: flex; justify-content: center;}
.mypage .progmg.allcare .newpop_major_search .newpop_save button + button {margin-left: 16px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box {height: 228px; overflow: hidden; display: flex; border: 1px solid #ddd;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv {width: 33.3%;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv + .category_lv {border-left: 1px solid #ddd;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv .category_tit {padding: 8px; background-color: #f8f8f8; text-align: center; border-bottom: 1px solid #ddd;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv .category_tit h5 {color: #333;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv .category-placeholder {height: 190px; padding-right: 6px; margin-right: 6px; overflow-y: auto;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv .category-placeholder p {margin: 10px 16px; color: #757575;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv ul li button {position: relative; text-align: left; width: 100%; height: 100%; padding: 8px 16px; color: #757575; font-weight: 400;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv li button[aria-selected="true"] {font-weight: 600; color: var(--col_blue);}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv li button[aria-selected="true"]::after {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 3px solid var(--col_blue);}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv .category-placeholder::-webkit-scrollbar {width: 6px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .category_box .category_lv .category-placeholder::-webkit-scrollbar-thumb {background-clip: padding-box; border-top: 6px solid transparent; border-bottom: 6px solid transparent; background-color: #ddd; border-radius: 9999px; }
.mypage .progmg.allcare .newpop_major_search .box_form_content {padding: 24px 40px;}
.mypage .progmg.allcare .newpop_major_search .search_box .search_table tbody tr td {border: none;}
.mypage .progmg.allcare .newpop_major_search .search_table tr th,
.mypage .progmg.allcare .newpop_major_search .search_table tr td {padding-top: 0 !important; padding-bottom: 0 !important;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; display: flex;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box>.tit {width: 192px; display: flex; justify-content: center; align-items: center; background-color: #f8f8f8;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box fieldset {width: calc(100% - 192px); padding: 12px 20px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box .major_list_wrapper {margin-top: 8px; border: 1px solid #ddd; border-radius: 4px; padding: 0 10px; }
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box fieldset .direct_input_option {display: flex; justify-content: space-between; width: 100%; gap: 8px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box fieldset .direct_input_option .radio_ui {margin-right: 6px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box fieldset .direct_input_option #major_input_wrap {width: calc(100% - 150px);}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box .major_list_wrapper .major_list {padding-right: 18px; overflow-y: auto; height: 228px; padding: 10px 0;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box .major_list_wrapper .major_list li {position: relative; padding-left: 28px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box .major_list_wrapper .major_list li + li {margin-top: 14px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box .major_list_wrapper .major_list li label {cursor: pointer; font-size: 16px; font-weight: 400; line-height: 28px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box .major_list_wrapper .major_list li .new_radio_item {cursor: pointer; position: absolute; left: 0; top: 2px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box .major_list_wrapper .major_list::-webkit-scrollbar {width: 6px;}
.mypage .progmg.allcare .newpop_major_search .newpop_inner .radio_box .major_list_wrapper .major_list::-webkit-scrollbar-thumb {background-color: #ddd; border-radius: 9999px;}


/* [팝업] 전공찾기팝업 - 조회/선택/등록(계열분류) (UI_ADHPAbP08) */


/* [팝업] 전공찾기팝업 - 조회/선택/등록 (UI_ADHPAbP09) */
.mypage .progmg.allcare .newpop_major_result .newpop_inner {height: calc(100% - 168px);}
.mypage .progmg.allcare .newpop_major_result .major_result_tit {border-bottom: 1px solid #ddd; padding: 8px 16px; background-color: #f8f8f8; display: flex; justify-content: space-between; align-items: center;}
.mypage .progmg.allcare .newpop_major_result .major_result_box {border: 1px solid #ddd; border-radius: 8px; overflow: hidden;}
.mypage .progmg.allcare .newpop_major_result .major_result_box fieldset {height: 276px; overflow-y: auto;}
.mypage .progmg.allcare .newpop_major_result .major_result_box .new_radio_item {justify-content: flex-start; padding: 10px 16px;}
.mypage .progmg.allcare .newpop_major_result .major_result_box .new_radio_item label {align-items: initial;}
.mypage .progmg.allcare .newpop_major_result .major_result_box .new_radio_item label p {flex: 1;}
.mypage .progmg.allcare .newpop_major_result .major_result_box .new_radio_item + .new_radio_item {margin-left: 0;}
.mypage .progmg.allcare .newpop_major_result .major_result_box .new_radio_item .radio_ui {margin-right: 8px; margin-top: 2px;}
.mypage .progmg.allcare .newpop_major_result .search_box .search_table tbody tr td {border-bottom: none; padding-top: 0 !important; padding-bottom: 0 !important;}
.mypage .progmg.allcare .newpop_major_result .search_box .box_form_content {padding: 24px 40px;}
.mypage .progmg.allcare .newpop_major_result .newpop_save {display: flex; justify-content: center; gap: 16px;}


/* [팝업] 개인정보 수집·이용·제공에 대한 동의서(참여자용) (UI_ADHPAbP10) */
.mypage .progmg.allcare .newpop_pv .consent_wrap h5 {line-height: 48px; position: relative; display: inline-block;}
.mypage .progmg.allcare .newpop_pv .consent_wrap h5.req_mark::after {content: ''; position: absolute; right: -16px; top: 45%; transform: translateY(-50%); border-radius: 50%; background-color: #ee2e62; width: 6px; height: 6px;}
.mypage .progmg.allcare .newpop_pv .consent_area {margin-top: 8px;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_1 {background-color: #f8f8f8; padding: 16px;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_1 .chk_box {margin-bottom: 8px; display: flex; align-items: center;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_1 .chk_box input {cursor: pointer;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_1 .chk_box label {margin: 2px 0 2px 6px; line-height: 20px; cursor: pointer;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .radio_box {display: flex;  border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .radio_box .radio_tit {padding: 12px 20px; width: calc(100% - 170px); background-color: #f8f8f8;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .radio_box .radio_group {display: flex; justify-content: center; align-items: center; width: 170px; background-color: #fff;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .radio_box .radio_group .new_radio_item {display: flex; justify-content: center; align-items: center; position: relative;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box {border-bottom: 1px solid #ddd; padding: 21px 20px;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box .radio_table .table_tit {margin: 8px 0;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box .radio_table table tr th {padding: 12px 20px; border: 1px solid #ddd; border-bottom: none; background-attachment: #f8f8f8; font-size: 16px; color: #333; font-weight: 600; line-height: 1.75rem;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box .radio_table table tr td {padding: 12px 20px; border: 1px solid #ddd; font-size: 16px; color: #555; font-weight: 400; line-height: 1.75rem; text-align: center;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box .radio_table table tr th:first-child,
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box .radio_table table tr td:first-child {border-left: none;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box .radio_table table tr th:last-child,
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box .radio_table table tr td:last-child {border-right: none;}
.mypage .progmg.allcare .newpop_pv .consent_area.type_2 .con_box .radio_table table tr td.txt_al {text-align: left;}
.mypage .progmg.allcare .newpop_pv .notice_wrap {padding: 16px; background-color: #f8f8f8;}
.mypage .progmg.allcare .newpop_pv .notice_wrap p {font-weight: 600;}
.mypage .progmg.allcare .newpop_pv .notice_wrap ul {margin-top: 4px;}
.mypage .progmg.allcare .newpop_pv .notice_wrap ul li {position: relative; padding-left: 16px; font-size: 14px; line-height: 24px; color: #333;}
.mypage .progmg.allcare .newpop_pv .notice_wrap ul li + li {margin-top: 4px;}
.mypage .progmg.allcare .newpop_pv .notice_wrap ul li::before {content: ''; position: absolute; left: 4px; top: 10px; width: 4px; height: 4px; background-color: #333; border-radius: 50%;}
.mypage .progmg.allcare .newpop_pv .btn_wrap {display: flex; flex-direction: column; align-items: stretch}
.mypage .progmg.allcare .newpop_pv .btn_wrap .confirm_desc {text-align: left;}
.mypage .progmg.allcare .newpop_pv .btn_wrap a {width: 112px; margin: auto;}


/* 프로그램 신청 - 목록 없음 (UI_ADHPAcM01) */
.allcare .newtab_progwrap {display: flex; width: 100%; margin-bottom: 120px;}
.allcare .newtab_progwrap .tit {width: 50%; padding: 10px; color: #333; font-size: 16px; font-weight: 400; line-height: 28px; border-bottom: 1px solid #ddd;}
.allcare .newtab_progwrap .tit.active {font-weight: 600; border-bottom: 3px solid var(--col_blue);}


/* 프로그램 신청 - 목록 있음 (UI_ADHPAcM02) */



/* 프로그램 신청 - 신청 (UI_ADHPAcM03) */


/* 프로그램 신청 - 조회 (UI_ADHPAcM04) */


/* 참여 프로그램 관리 - 목록 없음 (UI_ADHPAdM01) */


/* 참여 프로그램 관리 - 목록 있음 (UI_ADHPAdM02) */


/* 참여 프로그램 관리 - 조회 (UI_ADHPAc03) */
.mypage .progmg.allcare .ico24_file.mov {background:url("../include/images/ico24_file_movie.svg")}
.mypage .progmg.allcare .ico24_file.psd {background:url("../include/images/ico24_file_photoshop.svg")}
.mypage .progmg.allcare .ico24_file.ai {background:url("../include/images/ico24_file_ai.svg")}
.mypage .progmg.allcare .prog_info_wrap tr th {font-size: 16px; color: #333; font-weight: 600; line-height: 28px;}
.mypage .progmg.allcare .prog_info_wrap tr td {font-size: 16px; color: #333; font-weight: 400; line-height: 28px;}
.mypage .progmg.allcare .prog_info_wrap tr td p.data_txt span {font-weight: 600;}
.mypage .progmg.allcare .prog_info_wrap tr.new_uni td p.data_txt,
.mypage .progmg.allcare .prog_info_wrap tr.new_prog td p.data_txt {font-weight: 600;}
.mypage .progmg.allcare .prog_info_wrap tr.new_down .down_box ul li + li {margin-top: 8px;}
.mypage .progmg.allcare .prog_info_wrap tr.new_down .down_box ul li a {display: flex; align-items: center; gap: 8px;}
.mypage .progmg.allcare .prog_info_wrap tr.new_down .down_box ul li .ico24_file {margin: 0;}
.mypage .progmg.allcare .prog_info_wrap tr.new_down .down_box ul li a p {max-width: 700px; position: relative; display: inline-block; font-size: 16px; color: #333; font-weight: 400; line-height: 28px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.mypage .progmg.allcare .prog_info_wrap tr.new_down span.down {width: 16px; height: 16px; background: url(../include/images/ico16_download2.svg.svg);}
.mypage .progmg.allcare .prog_info_wrap tr.new_desc .box_board_text {text-align: left;}
.mypage .progmg.allcare .prog_info_wrap tr.new_desc .box_board_text .b1_r {font-size: 16px;}


/* 참여 프로그램 관리 - 만족도 조사 (UI_ADHPAc04) */



/* 상담이력 - 목록 없음 (UI_ADHPAeM01) */


/* 상담이력 - 목록 있음 (UI_ADHPAeM02) */
.mypage .progmg.allcare .pa_page_inner .prog_year {margin-top: 8px;}
.mypage .progmg.allcare .pa_page_inner .oper_year, 
.mypage .progmg.allcare .pa_page_inner .oper_time, 
.mypage .progmg.allcare .pa_page_inner .oper_count {line-height: 28px;}
.mypage .progmg.allcare .pa_page_inner .oper_time {margin: 4px 0;}
.mypage .progmg.allcare .pa_page_inner .prog_tit { display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; line-clamp: 2; max-height: 56px;}
.mypage .progmg.allcare .pa_page_inner .new_table td.oper_info li {position: relative; padding-left: 24px; color: #333; font-size: 16px; line-height: 28px;}
.mypage .progmg.allcare .pa_page_inner .new_table td.oper_info li+li {margin-top: 4px;}
.mypage .progmg.allcare .pa_page_inner .new_table td.oper_info li span {color: #333;}
.mypage .progmg.allcare .pa_page_inner .new_table td.oper_info li::before {content: ''; width: 16px; height: 16px; position: absolute; left: 0; top: 5px; background: url('../include/images/ico16_time.svg') no-repeat center / contain;}
.mypage .progmg.allcare .pa_page_inner .new_table td.oper_info .oper_year::before {width: 14px; height: 14px; left: 1px; top: 6px; background: url('../include/images/ico16_date.svg') no-repeat center / contain;}
.mypage .progmg.allcare .pa_page_inner .new_table td.oper_info .oper_count::before {background: url('../include/images/ico16_member_gray.svg') no-repeat center / contain;}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat {display: none;}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat.type_1 {text-align: center; flex-direction: column; justify-content: center;}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat.type_1 p {font-size: 16px;  font-weight: 600; line-height: 28px; color: var(--col_blue);}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat.type_1 p.stat-year {font-size: 14px; font-weight: 400; line-height: 24px; color: #555;}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat.type_2 {justify-content: center;}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat.type_2 button {width: 80px; font-weight: 600;}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat.type_3 {text-align: center; justify-content: center;}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat.type_3 p {font-size: 16px;  font-weight: 600; line-height: 28px; color: var(--col_blue);}
.mypage .progmg.allcare .pa_page_inner .new_table .detail {margin-top: 4px; display: flex; justify-content: center;}
.mypage .progmg.allcare .pa_page_inner .new_table .detail button {width: 80px;}
.mypage .progmg.allcare .pa_page_inner .new_table .status .stat.active {display: flex;}


/* 완료 페이지 - 신청서 제출 완료 (UI_ADHPAbS11) */
.mypage .progmg.allcare .donepage {margin-top: 120px;}
.mypage .progmg.allcare .donepage .done_notice {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.mypage .progmg.allcare .donepage .done_notice p {text-align: center; color: #333; }
.mypage .progmg.allcare .donepage .done_info {padding: 32px 40px; border: 1px solid #ddd; border-radius: 8px;}
.mypage .progmg.allcare .donepage .done_info li {display: flex; align-items: baseline;}
.mypage .progmg.allcare .donepage .done_info li + li {border-top: 1px solid #eee; padding-top: 8px; margin-top: 8px;}
.mypage .progmg.allcare .donepage .done_info li div p {color: #333;}
.mypage .progmg.allcare .donepage .done_info li .tit {width: 120px;}
.mypage .progmg.allcare .donepage .done_info li .desc {width: calc(100% - 120px); padding-left: 40px;}
.mypage .progmg.allcare .donepage .done_info li .tit p {font-size: 16px; font-weight: 400; line-height: 28px; color: #333; }
.mypage .progmg.allcare .donepage .done_info li .desc p {font-size: 16px; font-weight: 600; line-height: 28px; color: #333;}
.mypage .progmg.allcare .donepage .done_btn {display: flex; justify-content: flex-end;}


/* 완료 페이지 - 회수 완료 (UI_ADHPAbS12) */


/* 완료 페이지 - 삭제 완료 (UI_ADHPAbS13) */


/* 완료 페이지 - 수정 완료 (UI_ADHPAbS14) */


/* 완료 페이지 - 신청 완료 (UI_ADHPAbS15) */